<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>课程详情</title>
    <link rel="stylesheet" href="src/css/student.css">
</head>
<body>
<span id="complete">
<div class="header poser">
        <div class="head dui">
            <img class="headicon" src="src/img/hser.png" alt="">
            <i><img src="src/img/vip.png" alt=""></i>
        </div>
    <div class="sourcedetial">
        <div class="coath sefd" style="margin-top:0.65rem;">
            <span class="coachname coathlefst" v-text="userName"></span>
            <span class="coathlefst"><img src="src/img/woman.png" alt=""></span>
            <span class="coathlefst bse gary" v-if="bmi==1">增肌</span>
            <span class="coathlefst bse green" v-if="bmi==2">维持</span>
            <span class="coathlefst bse yellow" v-if="bmi==3">减脂</span>
        </div>
        <div class="coath" style="margin-top:0.65rem;">
            <span class="startdetial font-size10">课程类型：<span class="gary6" v-text="courseType">-</span></span>
        </div>
        <div class="coath">
            <span class="startdetial font-size10">上课时间：<span class="gary6" v-text="date">-</span></span>
        </div>
        <div class="coath">
            <span class="startdetial font-size10">预约人数：<span class="gary6"><span v-text="orderCount">0</span>人</span></span>
        </div>
    </div>
</div>
<div class="tiaos masesee" @click="toAllHtml">
    <div class="tiatitle">上课记录与评价</div>
    <div class="isoe"><img src="src/img/gary-right.png" alt=""></div>
</div>
<div class="peolpelist patb">
    <ul>
        <li>
            <div class="sler">
                <div class="slerl">最近上课时间</div>
                <div class="slerr" v-text="lastDate">-</div>
            </div>
        </li>
        <li>
            <div class="sler">
                <div class="slerl">共有课程</div>
                <div class="slerr"><span v-text="totalCount">-</span>节</div>
            </div>
        </li>
        <li>
            <div class="sler">
                <div class="slerl">剩余课程</div>
                <div class="slerr"><span v-text="useCount">-</span>节</div>
            </div>
        </li>
    </ul>
</div>
<div class="botbtn eary" v-if="courseState==3"><a href="javascript:;">课程已完成</a></div>
<div class="botbtn" v-else><a href="javascript:;" @click="postcourse">课程完成</a></div>
</span>
<div id="nulls" style="text-align:center;font-size:1.2rem;line-height:80px;color: #666;display:none;"></div>
</body>
<script src="src/js/lib/jquery-1.8.3.min.js"></script>
<script src="src/js/lib/vue.js"></script>
<script src="src/js/person.js"></script>
<script>
    var sw = $(window).width();
        if(sw>414){
        sw = 414;
        }
    $("html").css("font-size",sw/1080*32.8125+"px");
</script>
</html>